<!doctype html><html><head><meta charset="utf-8"><script src="../../..//webcomponentsjs/webcomponents.min.js"></script><script src="../../..//web-component-tester/browser.js"></script><script src="../../..//test-fixture/test-fixture-mocha.js"></script><link rel="import" href="../grid-col.html"><link rel="import" href="../../..//test-fixture/test-fixture.html"></head><body><test-fixture id="test-flex-grid-col"><template></template></test-fixture><script>describe('<grid-col>', function() {
    var testFixture;

    beforeEach(function() {
      testFixture = fixture('test-flex-grid-col');
    });

    context('common tests', function() {

    });
  });</script></body></html>