:host {
  display: block;
}

:host(.reverse) > ::content > grid-col {
  float: right;
}

:host > ::content > grid-col {
  float: left;
}

:host > ::content > grid-col.end:last-child:last-child {
  float: left;
}

:host > ::content > grid-col:last-child:not(:first-child) {
  float: right;
}
