html {
  font-size: 12px;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media $small-up {
  html {
    font-size: calc(12px + (20 - 14) * ((100vw - 960px) / (1600 - 960)));
  }
}

@media $large-up {
  html {
    font-size: 20px;
  }
}

* {
  line-height: 24px;
  margin-bottom: 24px;
}

body {
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 70%;
}

sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

s,
del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted var(--typography-abbr-border-color, #202020);
  cursor: help;
  text-decoration: none;
}

ins,
u {
  text-decoration: underline;
}

mark {
  background-color: var(--typography-mark-background-color, #ffd61e);
  color: var(--typography-mark-color, #202020);
  text-decoration: none;
}

time {
  font-size: 75%;
}

address {
  font-style: normal;
}

a {
  color: var(--typography-a-color, #256bc9);
}

a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: var(--typography-a-color-hover, #e21e3b);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

img.rounded {
  border-radius: 5px;
}

img.circle {
  border-radius: 50%;
}

img.thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.5;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
