:host {
  display: block;
}

:host.mode-accordion .tabs {
  visibility: hidden;
  overflow: hidden;
  height: 1px;
}

:host.mode-accordion ::content .accordion-navigation {
  display: block;
  width: 100%;
}

:host.mode-accordion-vertical ::content .tabs {
  display: block;
  float: left;
  width: 25%;
  max-width: 25%;
}

:host.mode-accordion-vertical ::content .tabs dd {
  display: block;
}

:host.mode-accordion-vertical ::content gc-ui-tab.active {
  width: 75%;
  max-width: 75%;
  height: 100%;
  padding: 0;
  display: block;
  float: left;
}

:host ::content .tabs {
  margin: auto;
}

:host ::content .tabs > dd > span,
:host ::content .accordion-navigation > span {
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  display: block;
}

:host ::content .tabs > dd {
  display: inline-block;
  margin-left: 0;
}

:host ::content .accordion-navigation {
  display: none;
}

:host ::content .accordion-navigation > span,
:host.mode-accordion ::content .accordion-navigation,
:host.mode-accordion-vertical ::content .accordion-navigation {
  display: block;
}

:host.mode-accordion ::content .accordion-navigation > span::after {
  content: "+";
  text-align: center;
  width: 2em;
  display: block;
  float: right;
}

:host.mode-accordion ::content .accordion-navigation.active > span::after {
  content: "-";
}

:host.mode-thumbnail ::content .tabs > grid-flex-col {
  cursor: pointer;
}

:host.mode-thumbnail ::content .tabs > grid-flex-col > img {
  display: block;
  width: 100%;
}

@media $small-up {
  :host.mode-thumbnail ::content gc-ui-tab {
    padding: 24px $column-gutter-small;
  }
}

@media $medium-up {
  :host.mode-thumbnail ::content gc-ui-tab {
    padding: 24px  $column-gutter-medium;
  }
}

@media $large-up {
  :host.mode-thumbnail ::content gc-ui-tab {
    padding: 24px $column-gutter-large;
  }
}

@media $xlarge-up {
  :host.mode-thumbnail ::content gc-ui-tab {
    padding: 24px  $column-gutter-xlarge;
  }
}
