{
  "parser": "babel-eslint",
  "extends": "airbnb/base",

  "globals": {
    "root": true,
    "config": true,
    "describe": true,
    "it": true,
    "GrowCss": true,
    "Polymer": true,
    "Cookies": true,
    "$$": true,
    "Array": true,
    "EventEmitter": true,
    "GrowCssEventEmitter": true,
    "urlParser": true,
    "Image": true,
    "GrowCssBackground": true,
    "GrowCssLoadingImage": true,
    "GrowCssImagesLoaded": true,
  }
}
