<!DOCTYPE html>
<html>
  <head>
    <title>growcss-style demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
    <link rel="import" href="@components-path/grid-block/grid-block.html">
    <link rel="import" href="../growcss-style.html">

    <style type="text/css" media="screen">
      grid-col {
        height: 150px!important;
      }
    </style>

  </head>
  <body unresolved>
    <h3>Colorizer</h3>
    <p>A colors stylesheet for backgrounds and fonts.</p>
    <demo-snippet>
      <template>
        <grid-block class="xsmall-up-2 small-up-3 medium-up-4 large-up-5">
          <grid-col class="background-turquoise"></grid-col>
          <grid-col class="background-green-sea"></grid-col>
          <grid-col class="background-emerald"></grid-col>
          <grid-col class="background-nephritis"></grid-col>
          <grid-col class="background-peter-river"></grid-col>
          <grid-col class="background-belize-hole"></grid-col>
          <grid-col class="background-amethyst"></grid-col>
          <grid-col class="background-wisteria"></grid-col>
          <grid-col class="background-wet-asphalt"></grid-col>
          <grid-col class="background-midnight-blue"></grid-col>
          <grid-col class="background-sun-flower"></grid-col>
          <grid-col class="background-orange"></grid-col>
          <grid-col class="background-carrot"></grid-col>
          <grid-col class="background-pumpkin"></grid-col>
          <grid-col class="background-alizarin"></grid-col>
          <grid-col class="background-pomegranate"></grid-col>
          <grid-col class="background-clouds"></grid-col>
          <grid-col class="background-silver"></grid-col>
          <grid-col class="background-concrete"></grid-col>
          <grid-col class="background-asbestos"></grid-col>
          <grid-col class="background-white"></grid-col>
          <grid-col class="background-black"></grid-col>
        </grid-block>
      </template>
    </demo-snippet>
  </body>
</html>
