<!doctype html>
<html>
<head>
  <title>growcss-style demo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
  <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
  <link rel="import" href="@components-path/grid-block-element/grid-block-element.html">
  <link rel="import" href="../growcss-style.html">

  <style type="text/css" media="screen">
    grid-col {
      height: 150px!important;
    }
  </style>

</head>
<body unresolved>
  <h1>Base</h1>
  <h2>Provides the default style for all HTML elements.</h2>
  <p>This component defines the base look of your page. It offers great typography by setting the default colors, margins, font-sizes and more for each HTML element. This page is a short guide on how to use basic HTML elements and how GrowCss styles them. <br> Basically GrowCss utilizes the famous <a href="http://necolas.github.com/normalize.css">Normalize.css</a>. This makes GrowCss and its components very robust against conflicts with other CSS frameworks so that you don't have to worry about browser inconsistencies in your projects.</p>

  <h3>Headings</h3>
  <p>Use the <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> elements to define your headings. For more check <a href="typography.html" title="Typography Style">Typography Style</a> page.</p>
  <demo-snippet>
    <template>
       <h1>Header 1</h1>
       <h2>Header 2</h2>
       <h3>Header 3</h3>
       <h4>Header 4</h4>
       <h5>Header 5</h5>
       <h6>Header 6</h6>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt dui sit amet mi auctor, ac gravida magna aliquam. Fusce quis purus elementum, tempus nisi vel, volutpat nulla. Vestibulum mollis dictum tellus, vulputate porttitor arcu. Curabitur imperdiet risus id egestas accumsan. Donec lectus felis, dignissim id iaculis sit amet, faucibus in leo.</p>

      <p>むめぎゃ ツァゐギュじゅふ 觩な勯僯䧺 ッシャ 簣盯卧骧秞 䤣骣㛥饧す ぎゃぴょ埨揦みゃ びょ䰩 㶣らル シュみそ檨仯 拣苯栩䧟勤 檤勣䩣はしゃ ぴざ ぢょ訊妦, と姤い奚椧 竨く䤨䩦ぬ テ詎覵骤ペ 仯簣盯 ひょ棃 簣盯卧骧秞 拣苯栩䧟勤 フィェ奯饺餚篞 シュみ 觩な勯</p>
    </template>
  </demo-snippet>

  <h3>Table</h3>
  <p>Easily create nicely looking responsive tables, which come in different styles. For more check the <a href="table.html">Table Style</a> page.</p>

  <demo-snippet>
    <template>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="First Name">Jill</td>
            <td data-label="Last Name">Smith</td>
            <td data-label="Points">50</td>
          </tr>
          <tr>
            <td data-label="First Name">Eve</td>
            <td data-label="Last Name">Jackson</td>
            <td data-label="Points">94</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td data-label="Points" colspan="2">Total points</td>
            <td data-label="Points">223</td>
          </tr>
        </tfoot>
      </table>
    </template>
  </demo-snippet>

  <h3>Colorizer</h3>
  <p>For more check <a href="colorizer.html" title="Colorizer Style">Colorizer Style</a> page.</p>
  <demo-snippet>
    <template>
      <grid-block-element class="xsmall-up-2 small-up-3 medium-up-4 large-up-5">
        <grid-col class="background-turquoise"></grid-col>
        <grid-col class="background-green-sea"></grid-col>
        <grid-col class="background-emerald"></grid-col>
        <grid-col class="background-nephritis"></grid-col>
        <grid-col class="background-peter-river"></grid-col>
      </grid-block-element>
    </template>
  </demo-snippet>
</body>
</html>
