<!DOCTYPE html>
<html>
  <head>
    <title>growcss-style demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
    <link rel="import" href="../growcss-style.html">

  </head>
  <body unresolved>
    <h2>table.html</h2>

    <demo-snippet>
      <template>
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="First Name">Jill</td>
              <td data-label="Last Name">Smith</td>
              <td data-label="Points">50</td>
            </tr>
            <tr>
              <td data-label="First Name">Eve</td>
              <td data-label="Last Name">Jackson</td>
              <td data-label="Points">94</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td data-label="Points" colspan="2">Total points</td>
              <td data-label="Points">223</td>
            </tr>
          </tfoot>
        </table>
      </template>
    </demo-snippet>

    <h2>Table Width</h2>

    <demo-snippet>
      <h3>Table small-6</h3>
      <template>
        <table>
          <thead>
            <tr>
              <td class="small-6">Head 1</td>
              <td class="small-6">Head 2</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Col">Col 1</td>
              <td data-label="Col">Col 2</td>
            </tr>
          </tbody>
        </table>

        <h3>Table small-6 and small-3</h3>
        <table>
          <thead>
            <tr>
              <th class="small-6">Head 1</th>
              <th class="small-3">Head 2</th>
              <th class="small-3">Head 3</th>
            </tr>
          </thead><tbody>
            <tr>
              <td data-label="Head">Col 1</td>
              <td data-label="Head">Col 2</td>
              <td data-label="Head">Col 3</td>
            </tr>
          </tbody>
        </table>
      </template>
    </demo-snippet>

    <h2>Table Caption</h2>

    <demo-snippet>
      <template>
        <table>
          <caption>Caption</caption>
          <tbody>
            <tr>
              <td data-label="Text">Text 1</td>
              <td data-label="Text">Text 2</td>
            </tr>
          </tbody>
        </table>
      </template>
    </demo-snippet>

    <h2>Bordered Table</h2>

    <demo-snippet>
      <template>
        <table class="bordered">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="First Name">Jill</td>
              <td data-label="Last Name">Smith</td>
              <td data-label="Points">50</td>
            </tr>
            <tr>
              <td data-label="First Name">Eve</td>
              <td data-label="Last Name">Jackson</td>
              <td data-label="Points">94</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td data-label="Points" colspan="2">Total points</td>
              <td data-label="Points">223</td>
            </tr>
          </tfoot>
        </table>
      </template>
    </demo-snippet>

    <h2>Simple Table</h2>

    <demo-snippet>
      <template>
        <table class="simple">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="First Name">Jill</td>
              <td data-label="Last Name">Smith</td>
              <td data-label="Points">50</td>
            </tr>
            <tr>
              <td data-label="First Name">Eve</td>
              <td data-label="Last Name">Jackson</td>
              <td data-label="Points">94</td>
            </tr>
          </tbody>
        </table>
      </template>
    </demo-snippet>

    <h2>Flat Table</h2>

    <demo-snippet>
      <template>
        <table class="flat">
          <tbody>
            <tr>
              <td data-label="First Name">Jill</td>
              <td data-label="Last Name">Smith</td>
              <td data-label="Points">50</td>
            </tr>
            <tr>
              <td data-label="First Name">Eve</td>
              <td data-label="Last Name">Jackson</td>
              <td data-label="Points">94</td>
            </tr>
          </tbody>
        </table>
      </template>
    </demo-snippet>

    <h2>Stripped Table</h2>

    <demo-snippet>
      <template>
        <table class="stripped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="First Name">Jill</td>
              <td data-label="Last Name">Smith</td>
              <td data-label="Points">50</td>
            </tr>
            <tr>
              <td data-label="First Name">Eve</td>
              <td data-label="Last Name">Jackson</td>
              <td data-label="Points">94</td>
            </tr>
          </tbody>
        </table>
      </template>
    </demo-snippet>
  </body>
</html>
