<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="../grid-col/grid-flex-col.html">

<!--
    <grid-flex-element>`element <text>.

    Example:
        <grid-flex-element></grid-flex-element>

    @element grid-flex-element
    @demo demo/index.html
-->

<dom-module id="grid-flex-element">
    <template>
      <style>
        include "shared/css/grid-wrap.css"
        include "grid-flex-element/assets/grid-element.css"
        include "shared/css/clearfix.css"
      </style>

      <div class="row-wrap">
        <div class="row">
          <content></content>
        </div>
      </div>
    </template>

    <script>
        include "grid-flex-element/assets/grid-element.js"
    </script>
</dom-module>
