:host(.reverse) > .row-wrap > .row > ::content > grid-col {
  float: right;
}

:host > .row-wrap > .row > ::content > grid-col {
  float: left;
}

:host > .row-wrap > .row > ::content > grid-col.end:last-child:last-child {
  float: left;
}

:host > .row-wrap > .row > ::content > grid-col:last-child:not(:first-child) {
  float: right;
}
