<!doctype html><html><head><title>grid-col demo</title><meta charset="utf-8"><meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes"><meta name="mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-capable" content="yes"><script src="../../../webcomponentsjs/webcomponents-lite.js"></script><link rel="import" href="../../../iron-demo-helpers/demo-pages-shared-styles.html"><link rel="import" href="../../../iron-demo-helpers/demo-snippet.html"><link rel="import" href="../../../paper-styles/demo-pages.html"><link rel="import" href="../grid-col.html"><style type="text/css" media="screen">grid-col {
      margin-bottom: 5px!important;
    }
    grid-col {
      background-color: rgba(255,0,0,.15);
      line-height: 3;
      text-align: center;
    }
    grid-col:nth-child(odd) {
      background-color: rgba(255,0,0,.3);
    }</style></head><body unresolved><h2>Gird layout</h2><grid-col class="small-1">1</grid-col><grid-col class="small-2">2</grid-col><grid-col class="small-3">3</grid-col><grid-col class="small-4">4</grid-col><grid-col class="small-5">5</grid-col><grid-col class="small-6">6</grid-col><grid-col class="small-7">7</grid-col><grid-col class="small-8">8</grid-col><grid-col class="small-9">9</grid-col><grid-col class="small-10">10</grid-col><grid-col class="small-11">11</grid-col><grid-col class="small-12">12</grid-col><grid-col class="small-1 medium-6 large-4">small-1 medium-6 large-8</grid-col><grid-col class="small-1 medium-6 large-8">small-1 medium-6 large-8</grid-col></body></html>