<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@behavior-path/screen-size-behavior/screen-size-behavior.html">
<link rel="import" href="../grid-container/grid-container.html">
<link rel="import" href="../grid-flex/grid-flex.html">

<!--
    <gc-ui-tab>`element <text>.

    Example:
        <gc-ui-tab></gc-ui-tab>

    @element gc-ui-tab
    @demo demo/index.html
-->

<dom-module id="gc-ui-tab">
  <template>
    <style>
      include "gc-ui-tabs/assets/gc-ui-tab.css"
    </style>

    <content></content>
  </template>

  <script>
    include "gc-ui-tabs/assets/gc-ui-tab.js"
  </script>
</dom-module>
