<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@behavior-path/screen-size-behavior/screen-size-behavior.html">
<link rel="import" href="../grid-container/grid-container.html">
<link rel="import" href="../grid-flex/grid-flex.html">
<link rel="import" href="gc-ui-tab.html">

<!--
    <gc-ui-tabs>`element <text>.

    Example:
        <gc-ui-tabs></gc-ui-tabs>

    @element gc-ui-tabs
    @demo demo/index.html
-->

<dom-module id="gc-ui-tabs">
  <template>
    <style>
      include "shared/css/clearfix.css"
      include "gc-ui-tabs/assets/gc-ui-tabs.css"
    </style>

    <template is="dom-if" if={{_default}}>
      <grid-container>
        <grid-flex>
          <grid-flex-col>
            <dl id="tabs" class="tabs"></dl>
            <content></content>
          </grid-flex-col>
        </grid-flex>
      </grid-container>
    </template>

    <template is="dom-if" if={{_thumbnailTabs}}>
      <grid-container>
        <grid-flex>
          <grid-flex-col>
            <grid-flex id="tabs" class="tabs"></grid-flex>
            <content></content>
          </grid-flex-col>
        </grid-flex>
      </grid-container>
    </template>

    <template is="dom-if" if={{fullwidth}}>
      <dl id="tabs" class="tabs"></dl>
      <content></content>
    </template>
  </template>

  <script>
    include "gc-ui-tabs/assets/gc-ui-tabs.js"
  </script>
</dom-module>
