@charset "UTF-8";
// Typography rules
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include config-set("line-height-ratio", 1.75, true);

@include config-set("body-font", $helvetica, true);
@include config-set("body-font-weight", 300, true);
@include config-set("body-color", $black, true);

@include config-set("header-font", $helvetica, true);
@include config-set("header-font-weight", 500, true);
@include config-set("header-color", $black, true);
@include config-set("header-ratio", $golden, true);

@include config-set("min-font", 12px, true);
@include config-set("max-font", 17px, true);

// For more information check
// https://github.com/corysimmons/typographic
// - - - - - - - - - - - - - - - - - - - - - - - - -
$line-height-ratio  : config-get("line-height-ratio");

$body-font          : config-get("body-font");
$body-font-weight   : config-get("body-font-weight");
$body-color         : config-get("body-color");

$header-font        : config-get("header-font");
$header-font-weight : config-get("header-font-weight");
$header-color       : config-get("header-color");
$header-ratio       : config-get("header-ratio");

$min-font           : config-get("min-font");
$max-font           : config-get("max-font");

$min-width          : config-get("size.small") * 1px;
$max-width          : config-get("size.xlarge") * 1px;

$vertical-rhythm    : true;

// The Typographic Reset.
// This is where Typographic goes through every markup element and styles it to adhere to a vertical rhythm.
// - - - - - - - - - - - - - - - - - - - - - - - - -
@include typographic();
