<!DOCTYPE html><html><head><meta charset="utf-8"><script src="../../../webcomponentsjs/webcomponents.min.js"></script><script src="../../../web-component-tester/browser.js"></script><link rel="import" href="../grid-float.html"></head><body><test-fixture id="grid-float-fixture"><template><grid-float><grid-col class="small-3 medium-2 large-1"></grid-col><grid-col class="small-6 medium-7 large-10"></grid-col><grid-col class="small-3 medium-3 large-1"></grid-col></grid-float></template></test-fixture><script>suite('<grid-float>', function() {
          var myEl;

          setup(function() {
            myEl = fixture('grid-float-fixture');
          });

          test('test setup', function() {
            expect(document.querySelector('grid-float')).to.be.ok;
          });
      });</script></body></html>