// RANGES
// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range) {
    @if length($range) <= 0 {
        @return 0;
    }

    @return nth($range, 1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }

    @return nth($range, 2);
}

@mixin maring-no-px() {
    @for $i from 1 through length(1) {
        .no-margin { margin: 0; }
        .margin-no-top { margin-top: 0; }
        .margin-no-bottom { margin-bottom: 0; }
        .margin-no-left { margin-left: 0; }
        .margin-no-right { margin-right: 0; }
    }
}

@mixin padding-no-px() {
    @for $i from 1 through length(1) {
        .no-padding { padding: 0; }
        .padding-no-top { padding-top: 0; }
        .padding-no-bottom { padding-bottom: 0; }
        .padding-no-left { padding-left: 0; }
        .padding-no-right { padding-right: 0; }
    }
}

@mixin box-shadow($top, $left, $blur, $radius, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $radius $color;
        -moz-box-shadow:inset $top $left $blur $radius $color;
        box-shadow:inset $top $left $blur $radius $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $radius $color;
        -moz-box-shadow: $top $left $blur $radius $color;
        box-shadow: $top $left $blur $radius $color;
    }
}
