<link rel="import" href="@path/polymer/polymer.html">
<!--
    <gc-ui-modal-backdrop>`element <text>.

    Example:
        <gc-ui-modal-backdrop></gc-ui-modal-backdrop>

    @element gc-ui-modal-backdrop
    @demo demo/index.html
-->

<dom-module id="gc-ui-modal-backdrop">
  <template>
    <style>
      include "gc-ui-modal/assets/gc-ui-modal-backdrop.css"
    </style>

    <content></content>
  </template>

  <script>
    include "gc-ui-modal/assets/gc-ui-modal-backdrop.js"
  </script>
</dom-module>
