<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@behavior-path/modal-behavior/modal-behavior.html">
<link rel="import" href="@behavior-path/midway-behavior/midway-behavior.html">
<link rel="import" href="@path/iron-resizable-behavior/iron-resizable-behavior.html">
<!--
    <gc-ui-modal>`element <text>.

    Example:
        <gc-ui-modal></gc-ui-modal>

    @element gc-ui-modal
    @demo demo/index.html
-->

<dom-module id="gc-ui-modal">
  <template>
    <style>
      include "gc-ui-modal/assets/gc-ui-modal.css"
    </style>

    <content></content>
  </template>

  <script>
    include "gc-ui-modal/assets/gc-ui-modal.js"
  </script>
</dom-module>
