// Well
// - - - - - - - - - - - - - - - - - - - - - - - - -

section.ui-well {
    background: $grey-900;
    color: $white;
    min-height: x-config-get('ui.well-min-height');
    margin-bottom: $growcss-margin-default;
    margin-top: $growcss-margin-default;
    box-shadow: 0 0 rem(28) 0 rgba(102, 102, 102, 0.19) inset;

    &.inverse {
        color: $black;
        background: $grey-100;
    }

    &.blue-grey {
        color: $white;
        background: $blue-grey-900;

        &.inverse {
            color: $black;
            background: $blue-grey-100;
        }
    }
}
