// Well
// - - - - - - - - - - - - - - - - - - - - - - - - -

.ui-well {
  background: $grey-900;
  box-shadow: 0 0 rem(28) 0 rgba(102, 102, 102, 0.19) inset;
  color: $white;
  margin-bottom: $growcss-margin-default;
  margin-top: $growcss-margin-default;
  min-height: config-get("ui.well-min-height");

  &.inverse {
    background: $grey-100;
    color: $black;
  }

  &.blue-grey {
    background: $blue-grey-900;
    color: $white;

    &.inverse {
      background: $blue-grey-100;
      color: $black;
    }
  }
}
