<!doctype html>
<html>
<head>
  <title>grid-flex-element demo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="@demo-path/iron-demo-helpers/demo-pages-shared-styles.html">
  <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
  <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
  <link rel="import" href="../grid-flex-element.html">

  <style type="text/css" media="screen">
    grid-col {
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
      margin-bottom: 1rem;
    }
    grid-flex-col {
      background-color: rgba(255,0,0,.15);
      line-height: 3;
      text-align: center;
    }
    grid-flex-col:nth-child(odd) {
      background-color: rgba(255,0,0,.3);
    }
    .middle grid-flex-col {
      height: 200px;
    }
  </style>

</head>
<body unresolved>

  <h2>Responsive</h2>
  <p>Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at small, medium, large & xlarge viewport widths.</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col class="small-3 medium-2 large-1"></grid-flex-col>
        <grid-flex-col class="small-6 medium-7 large-10"></grid-flex-col>
        <grid-flex-col class="small-3 medium-3 large-1"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-3 medium-2 large-1"></grid-flex-col>
        <grid-flex-col class="small-9 medium-10 large-11"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-3 medium-8 large-10"></grid-flex-col>
        <grid-flex-col class="small-3 medium-4 large-2"></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Fluid</h2>
  <p>Percent based widths allow fluid resizing of columns and rows.</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col class="small-12"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-1"></grid-flex-col>
        <grid-flex-col class="small-11"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-2"></grid-flex-col>
        <grid-flex-col class="small-10"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-3"></grid-flex-col>
        <grid-flex-col class="small-9"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-4"></grid-flex-col>
        <grid-flex-col class="small-8"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-5"></grid-flex-col>
        <grid-flex-col class="small-7"></grid-flex-col>
      </grid-flex-element>

      <grid-flex-element>
        <grid-flex-col class="small-6"></grid-flex-col>
        <grid-flex-col class="small-6"></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Simple Syntax</h2>
  <p>All you need to remember is grid-flex-element and grid-flex-col.</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Offsets</h2>
  <p>Offset a column</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col class="small-offset-11 small-1"></grid-flex-col>
        <grid-flex-col class="small-offset-10 small-2"></grid-flex-col>
        <grid-flex-col class="small-offset-9 small-3"></grid-flex-col>
        <grid-flex-col class="small-offset-8 small-4"></grid-flex-col>
        <grid-flex-col class="small-offset-7 small-5"></grid-flex-col>
        <grid-flex-col class="small-offset-6 small-6"></grid-flex-col>
        <grid-flex-col class="small-offset-5 small-7"></grid-flex-col>
        <grid-flex-col class="small-offset-4 small-8"></grid-flex-col>
        <grid-flex-col class="small-offset-3 small-9"></grid-flex-col>
        <grid-flex-col class="small-offset-2 small-10"></grid-flex-col>
        <grid-flex-col class="small-offset-1 small-11"></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Auto Width</h2>
  <p>Add any number of auto sizing columns to a row. Let the grid figure it out.</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col></grid-flex-col>
        <grid-flex-col></grid-flex-col>
      </grid-flex-element>
      <grid-flex-element>
        <grid-flex-col></grid-flex-col>
        <grid-flex-col></grid-flex-col>
        <grid-flex-col></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Nested Grids</h2>
  <p>Nest grids inside grids inside grids.</p>
  <demo-snippet>
    <template>
      <grid-flex-element>
        <grid-flex-col class="small-8">
          <grid-flex-element>
            <grid-flex-col class="small-6"></grid-flex-col>
            <grid-flex-col class="small-6"></grid-flex-col>
          </grid-flex-element>
        </grid-flex-col>
        <grid-flex-col class="small-4"></grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>

  <h2>Reverse column sorting</h2>
  <p>.reverse</p>
  <demo-snippet>
    <template>
      <grid-flex-element class="padded reverse">
        <grid-flex-col class="small-6">column 1</grid-flex-col>
        <grid-flex-col class="small-6">column 2</grid-flex-col>
      </grid-flex-element>
    </template>
  </demo-snippet>
</body>
</html>
