<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@behavior-path/cookies-behavior/cookies-behavior.html">
<link rel="import" href="../grid-flex/grid-flex.html">

<!--
    <gc-ui-cookie-bar>`element <text>.

    Example:
        <gc-ui-cookie-bar></gc-ui-cookie-bar>

    @element gc-ui-cookie-bar
    @demo demo/index.html
-->

<dom-module id="gc-ui-cookie-bar">
  <template>
    <style>
      include "gc-ui-cookie-bar/assets/gc-ui-cookie-bar.css"
    </style>
    <template is="dom-if" if={{show}}>
      <grid-flex>
        <grid-flex-col>
          <content></content>
        </grid-flex-col>
      </grid-flex>
    </template>
  </template>

  <script>
    include "gc-ui-cookie-bar/assets/gc-ui-cookie-bar.js"
  </script>
</dom-module>
