<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@behavior-path/screen-size-behavior/screen-size-behavior.html">
<link rel="import" href="../grid-col/grid-flex-col.html">

<!--
    <grid-flex> <text>.

    Example:
        <grid-flex></grid-flex>

     grid-flex
    @demo demo/index.html
-->

<dom-module id="grid-flex">
    <template>
      <style>
        include "shared/css/clearfix.css"
        include "grid-flex/assets/grid-flex.css"
      </style>

      <content></content>
    </template>

    <script>
        include "grid-flex/assets/grid-flex.js"
    </script>
</dom-module>
