<!DOCTYPE html>
<html>
  <head>
    <title>gc-ui-breadcrumb demo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
    <link rel="import" href="../gc-ui-breadcrumb.html">

  </head>
  <body unresolved>
    <h2>Breadcrumbs</h2>
    <p>Breadcrumbs come in handy to show a navigation trail for users clicking through your site.</p>
    <p>We use a CSS <code>::after</code> element containing a slash character to create the separator between items. Some screen readers will read this character out loud—if this is an issue, you can use a background image or a separate element with <code>aria-hidden="true"</code> to create the separator instead.</p>

    <demo-snippet>
      <template>
        <gc-ui-breadcrumb>
          <gc-ui-breadcrumb-step href="#!">Home</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step href="#!">components</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step>breadcrumb</gc-ui-breadcrumb-step>
        </gc-ui-breadcrumb>
      </template>
    </demo-snippet>

    <h2>Breadcrumb disabled</h2>
    <p>To mark a disabled item, add <code>disabled</code> to the <code>gc-ui-breadcrumb-step</code>.</p>
    <demo-snippet>
      <template>
        <gc-ui-breadcrumb>
          <gc-ui-breadcrumb-step href="#!">Home</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step disabled>components</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step>breadcrumb</gc-ui-breadcrumb-step>
        </gc-ui-breadcrumb>
      </template>
    </demo-snippet>

    <h2>Breadcrumb size</h2>
    <p>A breadcrumb can vary in size.</p>
    <demo-snippet>
      <template>
        <gc-ui-breadcrumb size="small">
          <gc-ui-breadcrumb-step href="#!">Home</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step disabled>components</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step>breadcrumb</gc-ui-breadcrumb-step>
        </gc-ui-breadcrumb>
        <br><br>
        <gc-ui-breadcrumb size="medium">
          <gc-ui-breadcrumb-step href="#!">Home</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step disabled>components</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step>breadcrumb</gc-ui-breadcrumb-step>
        </gc-ui-breadcrumb>
        <br><br>
        <gc-ui-breadcrumb size="large">
          <gc-ui-breadcrumb-step href="#!">Home</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step disabled>components</gc-ui-breadcrumb-step>
          <gc-ui-breadcrumb-step>breadcrumb</gc-ui-breadcrumb-step>
        </gc-ui-breadcrumb>
      </template>
    </demo-snippet>
  </body>
</html>
