// Menu
// scss-lint:disable SelectorDepth NestingDepth
// - - - - - - - - - - - - - - - - - - - - - - - - -
.ui-menu[data-type="top-bar"] {
  nav,
  nav > ul,
  nav > h2 {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
  }

  &[data-sticky="top"] {
    top: 0;
    width: 100%;
    position: fixed;
  }

  &[data-sticky="bottom"] {
    bottom: 0;
    width: 100%;
    position: fixed;
  }

  &[data-position="centered"] {
    nav > ul {
      @include container(false);
    }
  }

  &[data-position="right"] {
    nav {
      @include outer-container(100%);
      @include pad(0 default 0 default);
      float: left;
      width: 100%;

      ul {
        float: right;

        li:hover > ul {
          display: inline-block;
          width: 100%;
        }

        li > ul > li > ul {
          display: none;
          left: -100%;
          position: relative;
          top: -$ui-menu-height;
        }
      }
    }
  }

  nav[role="navigation"][data-logo-position="left"] {
    h2.logo {
      @include span-columns(2);
    }

    ul.main {
      @include span-columns(10);
      @include omega;
    }
  }

  nav[role="navigation"][data-logo-position="right"] {
    @include row();

    @include direction-context(right-to-left) {
      h2.logo {
        @include span-columns(2);
      }

      ul.main {
        @include span-columns(10);
        @include omega;
      }
    }
  }

  nav[role="navigation"] {
    @include pad(0 default 0 default);
    @include row();
    @include outer-container(100%);
    background: $ui-menu-second-background-color;

    ul.main {
      height: $ui-menu-height;
      position: relative;

      li {
        display: inline-block;
        list-style: none;
        text-align: center;
        position: relative;

        a,
        div {
          @include pad($ui-menu-link-padding);
          color: $ui-menu-link-color;
          cursor: pointer;
          display: block;
          line-height: $ui-menu-link-line-height;
          width: 100%;
          text-decoration: none;

          &:hover,
          &:link,
          &:focus {
            color: $ui-menu-link-hover-color;
          }
        }

        .title {
          text-transform: uppercase;
        }

        &:hover {
          background: $ui-menu-hover-background-color;

          > a,
          > div {
            color: $ui-menu-dropdown-link-hover-color;
          }

          > ul {
            display: inline-block;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
        }

        // level 2
        ul {
          background: $ui-menu-hover-background-color;
          display: none;
          height: auto;
          left: 0;

          li {
            height: $ui-menu-height;
            text-align: left;
            width: 100%;

            a {
              color: $ui-menu-link-color;
            }

            // level 3 - 4
            ul {
              display: none;
              left: 100%;
              position: relative;
              top: 0;
            }
          }
        }
      }
    }

    .secondary {
      @include row();
      @include span-columns(12);

      li {
        list-style: none;
      }

      li.search {
        form {
          @include span-columns(12);
        }

        input[type="search"] {
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid $white;
          color: $white;
        }
      }
    }
  }
}

// .ui-menu[data-sticky="top"] {

// }

// .ui-menu[data-sticky="bottom"] {

// }
