@charset "UTF-8";
// Input
// - - - - - - - - - - - - - - - - - - - - - - - - -

#{$all-text-inputs} {
  @include pad(0 0 0 0);
  @include marg(0 0 default 0);
  width: 100%;
  display: block;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  transition: all .3s;
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] {
    cursor: none;
  }
}

// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] {
    cursor: none;
  }
}

// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] {
    label {
      cursor: none;
    }
  }
}
