// Menu
// - - - - - - - - - - - - - - - - - - - - - - - - -

header.ui-menu[data-type='top-bar'] {
  &[data-position='centered'] {
    nav {
      background: $ui-menu-second-background-color;

      ul {
        // @include container();
      }
    }
  }

  &[data-position='right'] {
    nav {
      @include outer-container(100%);
      float: left;
      width: 100%;
      background: $ui-menu-second-background-color;

      ul {
        float: right;
        background: $ui-menu-second-background-color;

        li {
          &:hover > ul {
            display: inline-block;
            width: 100%;
          }

        // level 2
          ul {
            li {
              // level 3 - 4
              ul {
                position: relative;
                left: -100%;
                display: none;
                top: -$ui-menu-height;
              }
            }
          }
        }
      }
    }
  }

  nav {
    width: 100%;

    ul {
      @include outer-container(100%);
      height: $ui-menu-height;
      position: relative;
      background: $ui-menu-second-background-color;

      li {
        float: left;
        text-align: center;
        position: relative;

        a,
        div {
          @include pad($ui-menu-link-padding);
          width: 100%;
          line-height: $ui-menu-link-line-height;
          display: block;
          cursor: pointer;
          color: $ui-menu-link-color;

          &:hover,
          &:link,
          &:focus {
            color: $ui-menu-link-hover-color;
          }
        }

        &:hover {
          background: $ui-menu-hover-background-color;

          > a,
          > div {
            color: $ui-menu-dropdown-link-hover-color;
          }

          > ul {
            display: inline-block;
            width: 100%;
            position: absolute;
            z-index: 1;
          }
        }

        // level 2
        ul {
          height: auto;
          display: none;
          left: 0;
          background: $ui-menu-hover-background-color;

          li {
            width: 100%;
            height: $ui-menu-height;
            text-align: left;

            a {
              color: $ui-menu-link-color;
            }

            // level 3 - 4
            ul {
              position: relative;
              left: 100%;
              display: none;
              top: 0;
            }
          }
        }
      }
    }
  }
}
