// Menu
// scss-lint:disable SelectorDepth NestingDepth
// - - - - - - - - - - - - - - - - - - - - - - - - -

.ui-menu[data-type="top-bar"] {
  nav,
  nav a,
  nav ul,
  nav li,
  nav div,
  nav form,
  nav input {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
  }

  &[data-position="centered"] {
    nav > ul {
      @include container(false);
    }
  }

  &[data-position="right"] {
    nav {
      @include outer-container(100%);
      float: left;
      width: 100%;

      ul {
        float: right;

        li:hover > ul {
          display: inline-block;
          width: 100%;
        }

        li > ul > li > ul {
          display: none;
          left: -100%;
          position: relative;
          top: -$ui-menu-height;
        }
      }
    }
  }

  nav {
    background: $ui-menu-second-background-color;
    width: 100%;

    a {
      text-decoration: none;
    }

    ul {
      @include outer-container(100%);
      height: $ui-menu-height;
      position: relative;

      li {
        display: inline-block;
        position: relative;
        text-align: center;
        list-style: none;

        a,
        div {
          @include pad($ui-menu-link-padding);
          color: $ui-menu-link-color;
          cursor: pointer;
          display: block;
          line-height: $ui-menu-link-line-height;
          width: 100%;

          &:hover,
          &:link,
          &:focus {
            color: $ui-menu-link-hover-color;
          }
        }

        &:hover {
          background: $ui-menu-hover-background-color;

          > a,
          > div {
            color: $ui-menu-dropdown-link-hover-color;
          }

          > ul {
            display: inline-block;
            position: absolute;
            width: 100%;
            z-index: 1;
          }
        }

        // level 2
        ul {
          background: $ui-menu-hover-background-color;
          display: none;
          height: auto;
          left: 0;

          li {
            height: $ui-menu-height;
            text-align: left;
            width: 100%;

            a {
              color: $ui-menu-link-color;
            }

            // level 3 - 4
            ul {
              display: none;
              left: 100%;
              position: relative;
              top: 0;
            }
          }
        }
      }
    }
  }
}
