figcaption {
  line-height: 24px;
  color: var(--typography-figcaption-color, #222);
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: 1.0625em;
  line-height: 24px;
  padding-left: 24px;
  border-left: 1px solid var(--typography-blockquote-color, rgba(0, 0, 0, 0.2));
}

blockquote cite {
  font-size: 0.875em;
  font-weight: normal;
  line-height: 24px;
}

blockquote cite::before {
  color: var(--typography-cite-color, rgba(0, 0, 0, 0.5));
  content: "\2014 \00A0";
}

cite {
  color: var(--typography-cite-color, rgba(0, 0, 0, 0.5));
  font-style: italic;
}

figure blockquote {
  padding: 24px 0;
}

figure blockquote p {
  font-size: 28px;
  line-height: 39px;
}
