:root {
  --typography-font-head-xsmall-1: {
    font-size: 27.854389952340615px;
    margin: 0.942400822452556em 0 0.188480164490511em 0;
    line-height: 1.130880986943067em;
  };

  --typography-font-head-xsmall-2: {
    font-size: 23.53700340860508px;
    margin: 1.115265165420465em 0 0.251483121980101em 0;
    line-height: 1.338318198504558em;
  };

  --typography-font-head-xsmall-3: {
    font-size: 19.88880497489178px;
    margin: 1.319837970815179em 0 0.303784103173448em 0;
    line-height: 1.583805564978215em;
  };

  --typography-font-head-xsmall-4: {
    font-size: 16.806071548796314px;
    margin: 1.561935513828041em 0 0.368150361036631em 0;
    line-height: 1.87432261659365em;
  };

  --typography-font-head-xsmall-5: {
    font-size: 14.201156945318075px;
    margin: 1.84844094752817em 0 0.369688189505634em 0;
    line-height: 2.218129137033804em;
  };

  --typography-font-head-xsmall-6: {
    font-size: 12px;
    margin: 2.1875em 0 0.619791666666667em 0;
    line-height: 2.625em;
  };

  --typography-font-head-small-1: {
    font-size: calc(27.854389952340615px + (46.42398325390103 - 27.854389952340615) * ((100vw - 960px) / (1600 - 960)));
  };

  --typography-font-head-small-2: {
    font-size: calc(23.53700340860508px + (39.2283390143418 - 23.53700340860508) * ((100vw - 960px) / (1600 - 960)));
  };

  --typography-font-head-small-3: {
    font-size: calc(19.88880497489178px + (33.1480082914863 - 19.88880497489178) * ((100vw - 960px) / (1600 - 960)));
  };

  --typography-font-head-small-4: {
    font-size: calc(16.806071548796314px + (28.01011924799386 - 16.806071548796314) * ((100vw - 960px) / (1600 - 960)));
  };

  --typography-font-head-small-5: {
    font-size: calc(14.201156945318075px + (23.66859490886346 - 14.201156945318075) * ((100vw - 960px) / (1600 - 960)));
  };

  --typography-font-head-small-6: {
    font-size: calc( 12px + (20 - 12) * ((100vw - 960px) / (1600 - 960)) );
  };

  --typography-font-head-1: {
    font-size: 46.42398325390103px;
    margin: 0.942400822452556em 0 0.188480164490511em 0;
    line-height: 1.130880986943067em;
  };

  --typography-font-head-2: {
    font-size: 39.2283390143418px;
    margin: 1.115265165420465em 0 0.240111086421698em 0;
    line-height: 1.338318198504558em;
  };

  --typography-font-head-3: {
    font-size: 33.1480082914863px;
    margin: 1.319837970815179em 0 0.287857499569283em 0;
    line-height: 1.583805564978215em;
  };

  --typography-font-head-4: {
    font-size: 28.01011924799386px;
    margin: 1.561935513828041em 0 0.345845057728222em 0;
    line-height: 1.87432261659365em;
  };

  --typography-font-head-5: {
    font-size: 23.66859490886346px;
    margin: 1.84844094752817em 0 0.369688189505634em 0;
    line-height: 2.218129137033804e;
  };

  --typography-font-head-6: {
    font-size: 20px;
    margin: 2.1875em 0 0.473958333333333em 0;
    line-height: 2.625em;
  };
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1 {
  @apply(--typography-font-head-xsmall-1);
}

h2 {
  @apply(--typography-font-head-xsmall-2);
}

h3 {
  @apply(--typography-font-head-xsmall-3);
}

h4 {
  @apply(--typography-font-head-xsmall-4);
}

h5 {
  @apply(--typography-font-head-xsmall-5);
}

h6 {
  @apply(--typography-font-head-xsmall-6);
}

@media $small-up {
  h1 {
    @apply(--typography-font-head-small-1);
  }

  h2 {
    @apply(--typography-font-head-small-2);
  }

  h3 {
    @apply(--typography-font-head-small-3);
  }

  h4 {
    @apply(--typography-font-head-small-4);
  }

  h5 {
    @apply(--typography-font-head-small-5);
  }

  h6 {
    @apply(--typography-font-head-small-6);
  }
}

@media $large-up {
  h1 {
    @apply(--typography-font-head-1);
  }

  h2 {
    @apply(--typography-font-head-2);
  }

  h3 {
    @apply(--typography-font-head-3);
  }

  h4 {
    @apply(--typography-font-head-4);
  }

  h5 {
    @apply(--typography-font-head-5);
  }

  h6 {
    @apply(--typography-font-head-6);
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p + h1,
ul + h1,
ol + h1,
dl + h1,
blockquote + h1,
hr + h1,
pre + h1,
table + h1,
form + h1,
figure + h1,
address + h1,
p + h2,
ul + h2,
ol + h2,
dl + h2,
blockquote + h2,
hr + h2,
pre + h2,
table + h2,
form + h2,
figure + h2,
address + h2,
p + h3,
ul + h3,
ol + h3,
dl + h3,
blockquote + h3,
hr + h3,
pre + h3,
table + h3,
form + h3,
figure + h3,
address + h3,
p + h4,
ul + h4,
ol + h4,
dl + h4,
blockquote + h4,
hr + h4,
pre + h4,
table + h4,
form + h4,
figure + h4,
address + h4,
p + h5,
ul + h5,
ol + h5,
dl + h5,
blockquote + h5,
hr + h5,
pre + h5,
table + h5,
form + h5,
figure + h5,
address + h5,
p + h6,
ul + h6,
ol + h6,
dl + h6,
blockquote + h6,
hr + h6,
pre + h6,
table + h6,
form + h6,
figure + h6,
address + h6 {
  margin-top: 24px;
}
