<!doctype html>
<html>
<head>
  <title>gc-ui-full-width-header demo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="@demo-path/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="@demo-path/iron-demo-helpers/demo-pages-shared-styles.html">
  <link rel="import" href="@demo-path/iron-demo-helpers/demo-snippet.html">
  <link rel="import" href="@demo-path/paper-styles/demo-pages.html">
  <link rel="import" href="../gc-ui-full-width-header.html">

</head>
<body unresolved>
  <demo-snippet>
    <template>
      <gc-ui-full-width-header>
        <img src="http://i.imgur.com/9xYjgCk.jpg" alt="">
      </gc-ui-full-width-header>
      <gc-ui-full-width-header>
        <img src="http://i.imgur.com/9xYjgCk.jpg" alt="">
      </gc-ui-full-width-header>
    </template>
  </demo-snippet>
</body>
</html>
