.row
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1
  .medium-1 1

.row
  .small-4.medium-8.large-4 4
  .small-4.medium-2.large-4 4
  .small-4.medium-2.large-4 4
