header.ui-menu(data-type="top-bar" data-position="left")
  nav(role="navigation" data-logo-position="right")
    h2.logo
      a(href="#" title="growcss")
        span growcss

    ul.main
      li
        a.title(href="") test

      li
        .title Div Dropdown
        ul
          li
            a(href="") test

      li
        a.title(href="") Link Dropdown
        ul
          li
            a(href="") test

          li
            a(href="") test 2

          li
            a(href="") test 3

      li
          .title Div Dropdown some level down
          ul
            li
              a(href="") test 2
              ul
                li
                  a(href="") test 3
                  ul
                    li
                      a(href="") test 4

            li
              a(href="") test 2
              ul
                li
                  a(href="") test 2
            li
              a(href="") test 3

    ul.secondary
      li.search
        form
          input(type="text" placeholder="Search...")
          input(type="submit" value="search")
