:host {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

:host > ::content > grid-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

:host(.middle) > ::content > grid-flex-col {
  vertical-align: middle;
}

:host(.reverse) {
  flex-direction: row-reverse;
}

:host(.reverse) > ::content > grid-flex-col {
  flex-direction: column-reverse;
}
