form(action="#")
  p
    input(type="checkbox" id="checkbox")
    label(for="checkbox") Red

  p
    input(type="checkbox" checked="checked" id="checkbox-checked")
    label(for="checkbox-checked") Yellow

  p
    input(type="checkbox" class="filled-in" checked="checked" id="filled-in-box")
    label(for="filled-in-box") Filled in

  p
    input(type="checkbox" checked="checked" disabled="disabled" id="checkbox-disabled-checked")
    label(for="checkbox-disabled-checked") Green

  p
    input(type="checkbox" disabled="disabled" id="checkbox-disabled")
    label(for="checkbox-disabled") Brown
