:host {
  outline: 0;
  padding: 32px;
  background: #fff;
  width: 400px;
  height: 200px;
  display: block;
}

.gc-ui-modal-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(43,46,56,.9);
}

:host.gc-ui-modal-is-opened {
  z-index: 10000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

:host ::content > .gc-ui-modal.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border: 0;
  background: #000;
  color: #fff;
}

:host ::content > button {
  cursor: pointer;
}
