<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<link rel="import" href="grid-col.html">

<style>
  grid-element {
    display: none;
  }
</style>

<dom-module id="grid-element">
    <template>
      <style>
        @style-grid-element
      </style>

      <iron-media-query query="{{mq}}" query-matches="{{match}}"></iron-media-query>

      <content></content>
    </template>

    <script>
        @script-grid-element
    </script>
</dom-module>
