:root {
  --grid-col-1-width: 8.33333%;
  --grid-col-2-width: 16.66667%;
  --grid-col-3-width: 25%;
  --grid-col-4-width: 33.33333%;
  --grid-col-5-width: 41.66667%;
  --grid-col-6-width: 50%;
  --grid-col-7-width: 58.33333%;
  --grid-col-8-width: 66.66667%;
  --grid-col-9-width: 75%;
  --grid-col-10-width: 83.33333%;
  --grid-col-11-width: 91.66667%;
  --grid-col-12-width: 100%;
}

:host {
  width: 100%;
  position: relative;
  display: block;
  box-sizing: border-box;
}

:host(.xsmall-1) {
  width: var(--grid-col-1-width);
}

:host(.xsmall-2) {
  width: var(--grid-col-2-width);
}

:host(.xsmall-3) {
  width: var(--grid-col-3-width);
}

:host(.xsmall-4) {
  width: var(--grid-col-4-width);
}

:host(.xsmall-5) {
  width: var(--grid-col-5-width);
}

:host(.xsmall-6) {
  width: var(--grid-col-6-width);
}

:host(.xsmall-7) {
  width: var(--grid-col-7-width);
}

:host(.xsmall-8) {
  width: var(--grid-col-8-width);
}

:host(.xsmall-9) {
  width: var(--grid-col-9-width);
}

:host(.xsmall-10) {
  width: var(--grid-col-10-width);
}

:host(.xsmall-11) {
  width: var(--grid-col-11-width);
}

:host(.xsmall-12) {
  width: var(--grid-col-12-width);
}

@media $small-up {
  :host(.small-1) {
    width: var(--grid-col-1-width);
  }

  :host(.small-2) {
    width: var(--grid-col-2-width);
  }

  :host(.small-3) {
    width: var(--grid-col-3-width);
  }

  :host(.small-4) {
    width: var(--grid-col-4-width);
  }

  :host(.small-5) {
    width: var(--grid-col-5-width);
  }

  :host(.small-6) {
    width: var(--grid-col-6-width);
  }

  :host(.small-7) {
    width: var(--grid-col-7-width);
  }

  :host(.small-8) {
    width: var(--grid-col-8-width);
  }

  :host(.small-9) {
    width: var(--grid-col-9-width);
  }

  :host(.small-10) {
    width: var(--grid-col-10-width);
  }

  :host(.small-11) {
    width: var(--grid-col-11-width);
  }

  :host(.small-12) {
    width: var(--grid-col-12-width);
  }
}

@media $medium-up {
  :host(.medium-1) {
    width: var(--grid-col-1-width);
  }

  :host(.medium-2) {
    width: var(--grid-col-2-width);
  }

  :host(.medium-3) {
    width: var(--grid-col-3-width);
  }

  :host(.medium-4) {
    width: var(--grid-col-4-width);
  }

  :host(.medium-5) {
    width: var(--grid-col-5-width);
  }

  :host(.medium-6) {
    width: var(--grid-col-6-width);
  }

  :host(.medium-7) {
    width: var(--grid-col-7-width);
  }

  :host(.medium-8) {
    width: var(--grid-col-8-width);
  }

  :host(.medium-9) {
    width: var(--grid-col-9-width);
  }

  :host(.medium-10) {
    width: var(--grid-col-10-width);
  }

  :host(.medium-11) {
    width: var(--grid-col-11-width);
  }

  :host(.medium-12) {
    width: var(--grid-col-12-width);
  }
}

@media $large-up {
  :host(.large-1) {
    width: var(--grid-col-1-width);
  }

  :host(.large-2) {
    width: var(--grid-col-2-width);
  }

  :host(.large-3) {
    width: var(--grid-col-3-width);
  }

  :host(.large-4) {
    width: var(--grid-col-4-width);
  }

  :host(.large-5) {
    width: var(--grid-col-5-width);
  }

  :host(.large-6) {
    width: var(--grid-col-6-width);
  }

  :host(.large-7) {
    width: var(--grid-col-7-width);
  }

  :host(.large-8) {
    width: var(--grid-col-8-width);
  }

  :host(.large-9) {
    width: var(--grid-col-9-width);
  }

  :host(.large-10) {
    width: var(--grid-col-10-width);
  }

  :host(.large-11) {
    width: var(--grid-col-11-width);
  }

  :host(.large-12) {
    width: var(--grid-col-12-width);
  }
}

@media $xlarge-up {
  :host(.xlarge-1) {
    width: var(--grid-col-1-width);
  }

  :host(.xlarge-2) {
    width: var(--grid-col-2-width);
  }

  :host(.xlarge-3) {
    width: var(--grid-col-3-width);
  }

  :host(.xlarge-4) {
    width: var(--grid-col-4-width);
  }

  :host(.xlarge-5) {
    width: var(--grid-col-5-width);
  }

  :host(.xlarge-6) {
    width: var(--grid-col-6-width);
  }

  :host(.xlarge-7) {
    width: var(--grid-col-7-width);
  }

  :host(.xlarge-8) {
    width: var(--grid-col-8-width);
  }

  :host(.xlarge-9) {
    width: var(--grid-col-9-width);
  }

  :host(.xlarge-10) {
    width: var(--grid-col-10-width);
  }

  :host(.xlarge-11) {
    width: var(--grid-col-11-width);
  }

  :host(.xlarge-12) {
    width: var(--grid-col-12-width);
  }
}
