@charset "UTF-8";
// Class & placeholders helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -

.padding {
  &.no {
    padding: 0;
  }

  &.no-top {
    padding-top: 0;
  }

  &.no-bottom {
    padding-bottom: 0;
  }

  &.no-left {
    padding-left: 0;
  }

  &.no-right {
    padding-right: 0;
  }
}

.margin {
  &.no {
    margin: 0;
  }

  &.no-top {
    margin-top: 0;
  }

  &.no-bottom {
    margin-bottom: 0;
  }

  &.no-left {
    margin-left: 0;
  }

  &.no-right {
    margin-right: 0;
  }
}

.container {
  @include container();
}
