// Stylus Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Adds margin to the element.
//
// @param {list} $margin [$flex-gutter] A list of margin value(s) to use.
//                                       Passing `default` in the list will result in using the gutter width as a margin value.
//
// @example scss - Usage
//  .element {
//    marg(30px -20px 10px default);
//  }
//
// @example css - CSS Output
//  .element {
//    margin: 30px -20px 10px 2.35765%;
//  }
// - - - - - - - - - - - - - - - - - - - - - - - - -
marg($margin = $flex-gutter)
  $margin-list = null
  for $value in $margin
    $value = if($value == "default", $flex-gutter, $value)
    $margin-list = join($margin-list, $value)
  margin: $margin-list

// Adds padding to the element.
//
// @param {list} $padding [$flex-gutter] A list of padding value(s) to use.
//                                       Passing `default` in the list will result in using the gutter width as a padding value.
//
// @example scss - Usage
//  .element {
//    marg(30px -20px 10px default);
//  }
//
// @example css - CSS Output
//  .element {
//    padding: 30px -20px 10px 2.35765%;
//  }
// - - - - - - - - - - - - - - - - - - - - - - - - -
pad($padding = $flex-gutter)
  $padding-list = null
  for $value in $padding
    $value = if($value == "default", $flex-gutter, $value)
    $padding-list = join($padding-list, $value)
  padding: $padding-list
