:host {
  --grid-col-push-pull-1-width: 8.33333%;
  --grid-col-push-pull-2-width: 16.66667%;
  --grid-col-push-pull-3-width: 25%;
  --grid-col-push-pull-4-width: 33.33333%;
  --grid-col-push-pull-5-width: 41.66667%;
  --grid-col-push-pull-6-width: 50%;
  --grid-col-push-pull-7-width: 58.33333%;
  --grid-col-push-pull-8-width: 66.66667%;
  --grid-col-push-pull-9-width: 75%;
  --grid-col-push-pull-10-width: 83.33333%;
  --grid-col-push-pull-11-width: 91.66667%;
}

.xsmall-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.xsmall-uncentered,
.xsmall-push-0,
.xsmall-pull-0 {
  position: static;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

:host(.xsmall-push-1) {
  left: var(--grid-col-push-pull-1-width);
}
:host(.xsmall-push-2) {
  left: var(--grid-col-push-pull-2-width);
}
:host(.xsmall-push-3) {
  left: var(--grid-col-push-pull-3-width);
}
:host(.xsmall-push-4) {
  left: var(--grid-col-push-pull-4-width);
}
:host(.xsmall-push-5) {
  left: var(--grid-col-push-pull-5-width);
}
:host(.xsmall-push-6) {
  left: var(--grid-col-push-pull-6-width);
}
:host(.xsmall-push-7) {
  left: var(--grid-col-push-pull-7-width);
}
:host(.xsmall-push-8) {
  left: var(--grid-col-push-pull-8-width);
}
:host(.xsmall-push-9) {
  left: var(--grid-col-push-pull-9-width);
}
:host(.xsmall-push-10) {
  left: var(--grid-col-push-pull-10-width);
}
:host(.xsmall-push-11) {
  left: var(--grid-col-push-pull-11-width);
}

:host(.xsmall-pull-1) {
  left: -var(--grid-col-push-pull-1-width);
}
:host(.xsmall-pull-2) {
  left: -var(--grid-col-push-pull-2-width);
}
:host(.xsmall-pull-3) {
  left: -var(--grid-col-push-pull-3-width);
}
:host(.xsmall-pull-4) {
  left: -var(--grid-col-push-pull-4-width);
}
:host(.xsmall-pull-5) {
  left: -var(--grid-col-push-pull-5-width);
}
:host(.xsmall-pull-6) {
  left: -var(--grid-col-push-pull-6-width);
}
:host(.xsmall-pull-7) {
  left: -var(--grid-col-push-pull-7-width);
}
:host(.xsmall-pull-8) {
  left: -var(--grid-col-push-pull-8-width);
}
:host(.xsmall-pull-9) {
  left: -var(--grid-col-push-pull-9-width);
}
:host(.xsmall-pull-10) {
  left: -var(--grid-col-push-pull-11-width);
}
:host(.xsmall-pull-11) {
  left: -var(--grid-col-push-pull-11-width);
}

@media $small-up {
  .small-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .small-uncentered,
  .small-push-0,
  .small-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  :host(.small-push-1) {
    left: var(--grid-col-push-pull-1-width);
  }
  :host(.small-push-2) {
    left: var(--grid-col-push-pull-2-width);
  }
  :host(.small-push-3) {
    left: var(--grid-col-push-pull-3-width);
  }
  :host(.small-push-4) {
    left: var(--grid-col-push-pull-4-width);
  }
  :host(.small-push-5) {
    left: var(--grid-col-push-pull-5-width);
  }
  :host(.small-push-6) {
    left: var(--grid-col-push-pull-6-width);
  }
  :host(.small-push-7) {
    left: var(--grid-col-push-pull-7-width);
  }
  :host(.small-push-8) {
    left: var(--grid-col-push-pull-8-width);
  }
  :host(.small-push-9) {
    left: var(--grid-col-push-pull-9-width);
  }
  :host(.small-push-10) {
    left: var(--grid-col-push-pull-10-width);
  }
  :host(.small-push-11) {
    left: var(--grid-col-push-pull-11-width);
  }

  :host(.small-pull-1) {
    left: -var(--grid-col-push-pull-1-width);
  }
  :host(.small-pull-2) {
    left: -var(--grid-col-push-pull-2-width);
  }
  :host(.small-pull-3) {
    left: -var(--grid-col-push-pull-3-width);
  }
  :host(.small-pull-4) {
    left: -var(--grid-col-push-pull-4-width);
  }
  :host(.small-pull-5) {
    left: -var(--grid-col-push-pull-5-width);
  }
  :host(.small-pull-6) {
    left: -var(--grid-col-push-pull-6-width);
  }
  :host(.small-pull-7) {
    left: -var(--grid-col-push-pull-7-width);
  }
  :host(.small-pull-8) {
    left: -var(--grid-col-push-pull-8-width);
  }
  :host(.small-pull-9) {
    left: -var(--grid-col-push-pull-9-width);
  }
  :host(.small-pull-10) {
    left: -var(--grid-col-push-pull-11-width);
  }
  :host(.small-pull-11) {
    left: -var(--grid-col-push-pull-11-width);
  }
}

@media $medium-up {
  .medium-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  :host(.medium-push-1) {
    left: var(--grid-col-push-pull-1-width);
  }
  :host(.medium-push-2) {
    left: var(--grid-col-push-pull-2-width);
  }
  :host(.medium-push-3) {
    left: var(--grid-col-push-pull-3-width);
  }
  :host(.medium-push-4) {
    left: var(--grid-col-push-pull-4-width);
  }
  :host(.medium-push-5) {
    left: var(--grid-col-push-pull-5-width);
  }
  :host(.medium-push-6) {
    left: var(--grid-col-push-pull-6-width);
  }
  :host(.medium-push-7) {
    left: var(--grid-col-push-pull-7-width);
  }
  :host(.medium-push-8) {
    left: var(--grid-col-push-pull-8-width);
  }
  :host(.medium-push-9) {
    left: var(--grid-col-push-pull-9-width);
  }
  :host(.medium-push-10) {
    left: var(--grid-col-push-pull-10-width);
  }
  :host(.medium-push-11) {
    left: var(--grid-col-push-pull-11-width);
  }

  :host(.medium-pull-1) {
    left: -var(--grid-col-push-pull-1-width);
  }
  :host(.medium-pull-2) {
    left: -var(--grid-col-push-pull-2-width);
  }
  :host(.medium-pull-3) {
    left: -var(--grid-col-push-pull-3-width);
  }
  :host(.medium-pull-4) {
    left: -var(--grid-col-push-pull-4-width);
  }
  :host(.medium-pull-5) {
    left: -var(--grid-col-push-pull-5-width);
  }
  :host(.medium-pull-6) {
    left: -var(--grid-col-push-pull-6-width);
  }
  :host(.medium-pull-7) {
    left: -var(--grid-col-push-pull-7-width);
  }
  :host(.medium-pull-8) {
    left: -var(--grid-col-push-pull-8-width);
  }
  :host(.medium-pull-9) {
    left: -var(--grid-col-push-pull-9-width);
  }
  :host(.medium-pull-10) {
    left: -var(--grid-col-push-pull-11-width);
  }
  :host(.medium-pull-11) {
    left: -var(--grid-col-push-pull-11-width);
  }
}

@media $large-up {
  .large-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  :host(.large-push-1) {
    left: var(--grid-col-push-pull-1-width);
  }
  :host(.large-push-2) {
    left: var(--grid-col-push-pull-2-width);
  }
  :host(.large-push-3) {
    left: var(--grid-col-push-pull-3-width);
  }
  :host(.large-push-4) {
    left: var(--grid-col-push-pull-4-width);
  }
  :host(.large-push-5) {
    left: var(--grid-col-push-pull-5-width);
  }
  :host(.large-push-6) {
    left: var(--grid-col-push-pull-6-width);
  }
  :host(.large-push-7) {
    left: var(--grid-col-push-pull-7-width);
  }
  :host(.large-push-8) {
    left: var(--grid-col-push-pull-8-width);
  }
  :host(.large-push-9) {
    left: var(--grid-col-push-pull-9-width);
  }
  :host(.large-push-10) {
    left: var(--grid-col-push-pull-10-width);
  }
  :host(.large-push-11) {
    left: var(--grid-col-push-pull-11-width);
  }

  :host(.large-pull-1) {
    left: -var(--grid-col-push-pull-1-width);
  }
  :host(.large-pull-2) {
    left: -var(--grid-col-push-pull-2-width);
  }
  :host(.large-pull-3) {
    left: -var(--grid-col-push-pull-3-width);
  }
  :host(.large-pull-4) {
    left: -var(--grid-col-push-pull-4-width);
  }
  :host(.large-pull-5) {
    left: -var(--grid-col-push-pull-5-width);
  }
  :host(.large-pull-6) {
    left: -var(--grid-col-push-pull-6-width);
  }
  :host(.large-pull-7) {
    left: -var(--grid-col-push-pull-7-width);
  }
  :host(.large-pull-8) {
    left: -var(--grid-col-push-pull-8-width);
  }
  :host(.large-pull-9) {
    left: -var(--grid-col-push-pull-9-width);
  }
  :host(.large-pull-10) {
    left: -var(--grid-col-push-pull-11-width);
  }
  :host(.large-pull-11) {
    left: -var(--grid-col-push-pull-11-width);
  }
}

@media $xlarge-up {
  .xlarge-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .xlarge-uncentered,
  .xlarge-push-0,
  .xlarge-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  :host(.xlarge-push-1) {
    left: var(--grid-col-push-pull-1-width);
  }
  :host(.xlarge-push-2) {
    left: var(--grid-col-push-pull-2-width);
  }
  :host(.xlarge-push-3) {
    left: var(--grid-col-push-pull-3-width);
  }
  :host(.xlarge-push-4) {
    left: var(--grid-col-push-pull-4-width);
  }
  :host(.xlarge-push-5) {
    left: var(--grid-col-push-pull-5-width);
  }
  :host(.xlarge-push-6) {
    left: var(--grid-col-push-pull-6-width);
  }
  :host(.xlarge-push-7) {
    left: var(--grid-col-push-pull-7-width);
  }
  :host(.xlarge-push-8) {
    left: var(--grid-col-push-pull-8-width);
  }
  :host(.xlarge-push-9) {
    left: var(--grid-col-push-pull-9-width);
  }
  :host(.xlarge-push-10) {
    left: var(--grid-col-push-pull-10-width);
  }
  :host(.xlarge-push-11) {
    left: var(--grid-col-push-pull-11-width);
  }

  :host(.xlarge-pull-1) {
    left: -var(--grid-col-push-pull-1-width);
  }
  :host(.xlarge-pull-2) {
    left: -var(--grid-col-push-pull-2-width);
  }
  :host(.xlarge-pull-3) {
    left: -var(--grid-col-push-pull-3-width);
  }
  :host(.xlarge-pull-4) {
    left: -var(--grid-col-push-pull-4-width);
  }
  :host(.xlarge-pull-5) {
    left: -var(--grid-col-push-pull-5-width);
  }
  :host(.xlarge-pull-6) {
    left: -var(--grid-col-push-pull-6-width);
  }
  :host(.xlarge-pull-7) {
    left: -var(--grid-col-push-pull-7-width);
  }
  :host(.xlarge-pull-8) {
    left: -var(--grid-col-push-pull-8-width);
  }
  :host(.xlarge-pull-9) {
    left: -var(--grid-col-push-pull-9-width);
  }
  :host(.xlarge-pull-10) {
    left: -var(--grid-col-push-pull-11-width);
  }
  :host(.xlarge-pull-11) {
    left: -var(--grid-col-push-pull-11-width);
  }
}
