*, *:after, *:before {
  box-sizing: inherit;
}

:host {
  display: block;
}

:host > .row-wrap {
  position: relative;
}

@media $medium-up {
  :host > .row-wrap {
    margin: var(--grid-row-wrap-medium, 0 1.875rem);
  }
}

@media $large-up {
  :host > .row-wrap {
    margin: var(--grid-row-wrap-large, 0 4.375rem);
  }
}

:host(.expanded) > .row-wrap > .row {
  max-width: 100%;
}

:host > .row-wrap > .row :host > .row-wrap {
  margin: 0;
}

:host > .row-wrap > .row {
  width: 100%;
  max-width: var(--grid-max-width, 90rem);
  margin: 0 auto;
  position: relative;
}

:host > .row-wrap > .row > ::content > grid-col,
:host > .row-wrap > .row > ::content > grid-flex-col {
  padding: 0 var(--grid-column-gutter-small, $column-gutter-small);
}

@media $medium-up {
  :host > .row-wrap > .row > ::content > grid-col,
  :host > .row-wrap > .row > ::content > grid-flex-col {
  padding: 0 var(--grid-column-gutter-medium, $column-gutter-medium);
  }
}
