extends ./layouts/base.jade

block vars
    - var pageclass = ""

block title
    title Frontend editor module

block content
    section.editor
        .container
            .header
                select
                    option(value=".html") Html
                    option(value=".css") Css
                    option(value=".javascript") Javascript

            .content
                .html
                    pre
                        code(class="language-markup")
                            include:htmlmarkup

                .css
                     pre
                        code(class="language-css")
                            include:htmlmarkup

                .javascript
                     pre
                        code(class="language-javascript")
