extends ./layouts/base.jade

block vars
    - var pageclass = ""

block title
    title Frontend editor module

block content
    section.mixing
        +header('test', 'test2', 'section')

        +table(
            ['test', 'test', 'test', 'test'],
            ['<code>t</code>', 'test', '', 'test'],
            ['test', 'test', 'test', 'test'],
            ['test', 'test', 'test', 'test']
        )

        +editor(+editor, 'ja', 'ja')
