extends ./layouts/base.jade

block vars
    - var pageclass = ""

block title
    title Frontend Well module

block content
    include ./fixtures/ultis/forms/checkboxes.jade

    include ./fixtures/ultis/forms/input-fields.jade
