extends ./layouts/base.jade

block vars
  - var pageclass = ""

block title
  title Frontend Grid module

block content
  h2 Grid
  include ./fixtures/ui/grid/grid.jade

  h2 Table Grid
  include ./fixtures/ui/grid/table-grid.jade

  h2 Flex Grid
  include ./fixtures/ui/grid/flex-grid.jade

  h2 Waffle Grid
  include ./fixtures/ui/grid/waffle-grid.jade

  h2 Vertical Grid
  include ./fixtures/ui/grid/vertical-grid.jade

  h2 Block Grid
  include ./fixtures/ui/grid/block-grid.jade
