extends ./layouts/base.jade

block vars
    - var pageclass = ""

block title
    title Frontend Well module

block content
    include ./fixtures/ui/well/index.jade

    include ./fixtures/ui/well/index-grey.jade
