section.editor {
    .header {
        background: $grey-600;
        position: relative;
        @include box-shadow(0, 15px, 6px, -6px, rgba(33,33,33,1), false);

        select {
            margin: 0;
            border: 0;
            border-right: rem(1) solid $grey-500;
            padding: rem(15) rem(5) rem(15) rem(15);
            background: transparent;
            color: $white;
            font-weight: bold;
            cursor: pointer;

            option {
                background: $grey-600;
                cursor: pointer;

                i.css {

                }
            }
        }
    }
    .content {
        background: #272822;
        pre {
            margin-top: 0;
        }

        .css, .javascript {
            display: none;
        }
    }
}