<link rel="import" href="@path/polymer/polymer.html">
<link rel="import" href="@path/iron-image/iron-image.html">
<link rel="import" href="@behavior-path/screen-size-behavior/screen-size-behavior.html">
<link rel="import" href="@behavior-path/parallax-scroller-behavior/parallax-scroller-behavior.html">
<link rel="import" href="@behavior-path/images-loaded-behavior/images-loaded-behavior.html">
<link rel="import" href="../gc-ui-video-embed/gc-ui-video-embed.html">

<!--
    <gc-ui-full-width-header>`element <text>.

    Example:
        <gc-ui-full-width-header></gc-ui-full-width-header>

    @element gc-ui-full-width-header
    @demo demo/index.html
-->

<dom-module id="gc-ui-full-width-header">
  <template>
    <style>
      include "gc-ui-full-width-header/assets/gc-ui-full-width-header.css"
    </style>

    <content></content>
  </template>

  <script>
    include "gc-ui-full-width-header/assets/gc-ui-full-width-header.js"
  </script>
</dom-module>
