<link rel="import" href="@path/polymer/polymer.html">

<!--
    <gc-ui-full-width-header>`element <text>.

    Example:
        <gc-ui-full-width-header></gc-ui-full-width-header>

    @element gc-ui-full-width-header
    @demo demo/index.html
-->

<dom-module id="gc-ui-full-width-header">
  <template>
    <style>
      include "gc-ui-full-width-header/assets/gc-ui-full-width-header.css"
    </style>

    <!-- html -->
  </template>

  <script>
    include "gc-ui-full-width-header/assets/gc-ui-full-width-header.js"
  </script>
</dom-module>
