:root {
  --gc-ui-breadcrumb-font-size-small: {
    font-size: 12px;
    line-height: 12px;
  };


  --gc-ui-breadcrumb-font-size-medium: {
    font-size: 16px;
    line-height: 16px;
  };


  --gc-ui-breadcrumb-font-size-large: {
    font-size: 20px;
    line-height: 20px;
  };
}

:host,
:host > nav {
  display: block;
}

:host.small {
  @apply(--gc-ui-breadcrumb-font-size-small);
}

:host.medium {
  @apply(--gc-ui-breadcrumb-font-size-medium);
}

:host.large {
  @apply(--gc-ui-breadcrumb-font-size-large);
}

:host > nav > .breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}
