:root {
  --gc-ui-breadcrumb-step-style: {
    cursor: default;
    text-transform: uppercase;
  };

  --gc-ui-breadcrumb-step-after-style: {
    color: #cacaca;
    content: "/";
    margin: 0 10px;
    position: relative;
    top: 1px;
    opacity: 1;
  };

  --gc-ui-breadcrumb-step-link-style: {
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
  };

  --gc-ui-breadcrumb-step-disabled-style: {
    color: #cacaca;
  };
}

:host,
:host > li {
  display: inline-block;
}

:host:not(:last-child)::after {
  @apply(--gc-ui-breadcrumb-step-after-style);
}

:host > li {
  @apply(--gc-ui-breadcrumb-step-style);
}

:host > li.disabled {
  @apply(--gc-ui-breadcrumb-step-disabled-style);
}

:host > li > a {
  @apply(--gc-ui-breadcrumb-step-link-style);
}

:host > li .show-for-sr,
:host > li .show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}