// Menu config
// - - - - - - - - - - - - - - - - - - - - - - - - -

$ui-menu-height: rem(52);
$ui-menu-hover-background-color: $grey-500;
$ui-menu-first-background-color: $grey-500;
$ui-menu-second-background-color: $grey-900;
$ui-menu-link-line-height: rem(42);
$ui-menu-link-padding: rem(5) rem(13) rem(5) rem(13);
$ui-menu-link-color: $white;
$ui-menu-link-hover-color: $light-blue-500;
$ui-menu-dropdown-link-hover-color: $black;