:host > .row-wrap > .row {
  display: table;
  table-layout: fixed;
}

:host > .row-wrap > .row > ::content > grid-col {
  display: table-cell;
  vertical-align: middle;
}

:host(.reverse) > .row-wrap {
  direction: rtl;
}

:host(.reverse) > .row-wrap > .row > ::content > grid-col {
  direction: ltr;
}

@media $small-only {
  :host > .row-wrap > .row > ::content > grid-col {
    float: left;
  }
}
